:root {
    --foreground: #e3f5fc;
    --background: #020d12;
    --primary: #b051e6;
    --secondary: #041A24;
    --accent: #5719e6;
}

.waving-text {
    display: inline-block;
    overflow: hidden;
    transform: translateY(10px);
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.waving-text span {
    display: inline-block;
    animation: waving 0.8s infinite;
}

@keyframes waving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
