body {
    max-width: 50em;
}

.blog-layout{
    display:flex;
    gap: 2rem;
}

article {
    width: 130rem;
    text-align: justify;
}

article h1 {
    text-align: center;
}

aside a,
article a{
  text-decoration: underline;
}

aside>ul{
  border-left: 2px solid;
  border-color: var(--foreground);
}

aside a:hover,
article>a:hover {
  color:var(--accent);
  transition: 0.3s;
  text-decoration: bold;
}

article h2 {
  font-size: 1.5em;
  padding-top: 3.5rem;
  text-align: left;
}

article img {
    display:flex;
    margin: auto;
}

.post {
  display: grid;
  grid-template-rows: 3rem 6rem;
  grid-template-columns: 8fr 1fr;
  gap: 0;
  background-color: var(--secondary);
  height: 9rem;
  color: var(--foreground);
  padding: 0.4em;
  vertical-align: middle;
  line-height: 90px;       /* The same as your div height */
  font-size: 2em;
  margin: 2.5rem;
  margin-left:0px;margin-right:0px;
  transition: 0.3s;
}

.post .date {
  grid-row: 1!important;
  grid-column: 2 !important;
  font-size: 40%;
  padding:0;
  margin-top:-3rem;
  text-align: right;
}

.post>h1{
    padding: 0;
}

.post .post-header {
  transition: 0.3s;
  font-size: 30px;
  text-align-last: left;
  vertical-align: top;
  margin-top: 0px;
}

.post small {
  font-size: 70%;
  grid-column: 1 / span 2;
  grid-row: 2;
  margin: 0;
  padding: 0;
}

.post:hover h1 {
  color: var(--foreground);
  text-decoration: underline;
  /* font-size: 35px; */
  transition: 0.3s;
}

.post:hover {
  margin-left:-1rem;
  margin-right:-1rem;
  transition: 0.3s;
}

aside {
  position: sticky;
  margin-top: 10rem;
}
