---
import '../../sakura-dark.css'
import '../blog.css'
import "../../fun-text.css"

export const title= "the first proper post"
export const description= "Just me being happy about getting this to a usable state"
export const date= "2023-05-20"
---

<!Doctype html>
<title>
    The first proper post
</title>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li class="current"><a href="/blog">blog</a></li>
            <li><a href="/projects/">projects</a></li>
            <li><a href="/links/">links</a></li>
        </ul>
    </nav>

<h1>The first proper post!</h1>
<hr>
<div class="blog-layout">
<article>
<p>
I guess I have blog now, this started with me finding <a href="https://github.com/oxalorg/sakura/">this funny little project</a> that had ready to use css files and wanting to mess around with it
</p>

<p>
I'm not quite sure what I'm gonna write about here but I'm a Linux user and saying I'm into ricing is an understatement so I'm probably gonna have some guides and rice updates
</p>

<p>
Other than Linux ricing and coding my other hobbies are cubing and technical Minecraft which is a very disconnected set of hobbies now that I think about it...
</p>

<p>
So don't expect much to come from here, but whatever does get posted will be because I found it cool and I hope you find it as well!
</p>

<blockquote>
    "Alright, but why are you making a blog in 2023"
    <br>-my friend</br>
</blockquote>

<span style="text-align: right;"><p>-R2leyser</p></span>
<hr>
<small>20/5/2023 </small>
</article></div>

<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
