
---
import "../../sakura-dark.css"
import "../blog.css"

export const title= "The search engine rabbit hole"
export const description= "Just a ramble about search engines"
export const date= "2023-06-04"
---
<!Doctype html>
<title>
    The search engine rabbit hole
</title>
    <nav>
        <ul>
            <li><a href="../">home</a></li>
            <li class="current"><a href=".">blog</a></li>
            <li><a href="../projects/">projects</a></li>
            <li><a href="../links/">links</a></li>
        </ul>
    </nav>

<div class="blog-layout">
    <article>
    <h1>The search engine rabbit hole</h1>
    <hr>
    
        <p>
        I can't be the only person who didn't know that there was a search engine rabbit hole? Like I always thought that there was Google, Bing, DDG and the ones that aren't it's own engine just compile a lot of other search engines into a more private single one.
        </p>
    
        <p>
        But then I found Neeva, an AI powered search engine with a bunch of cool stuff and was like "damn that's cool at least one person is doing different stuff with it but it shut down on June 2nd and I decided to find a new one to use and... oh boy there are a lot of them
        </p>
    
        <p>
            and since I entered the rabbit hole you are going with me
        </p>
    
        <h2 id="paid-search-engines">There are paid search engines!?</h2>
    
        <p>
            I already thought locking the bing ai stuff in a paywall was really dumb, but apparently there are a some search engines that you pay for a certain amount of searches, the first one I found out about is <a href="kagi.com">Kagi</a> which has you pay to increase your search limit and with 25$ a month you get unlimited searches
        </p>
    
        <p>
            after that I was like "damn who would pay that much for a search engine" but apparently it gets worse with <a href="https://www.waldo.fyi/">Waldo</a> which is an extreme 200$ a month for 3 users, who are the people paying for their search engines?
        </p>
    
        <h2 id="the-search-for-a-new-one">The search for a new search engine</h2>
    
        <p>
            Okay, so I entered this whole rabbit hole to find a replacement for Neeva so what am I going to use
        </p>

        <p>
            I have been looking at <a href="you.com">You</a>, <a href="duckduckgo.com">DuckDuckGo</a>, <a href="startpage.com">Startpage</a> and Searxng. 
        </p>
        <p>
            You is very cool but it's also very slow, I've been using it for the day and when it did work it was awesome, but a lot of time I had to refresh, or change my search term to something else and back to get it to load
        </p>

        <p>
            Startpage is also cool, but I always found the search results kinda mid and there is no preview for forum threads like on Reddit or StackOverflow so it makes information really slow to find
        </p>

        <p>
            Searx has the same problems as Startpage and You, but it also has the problem of having no official server, which is great if you want to self host, I don't, so finding a server which is fast and doesn't have a lot of delay is not the easies thing in the world
        </p>

        
        <h2 id="conclusion">Conclusion</h2>

        <p>
            So now I'm left with DDG, which is probably what I'm going to use, I haven't used it too much but it has a lot of nice things, is decently popular and while it still doesn't have the forum preview I think I can live without that. Privacy wise, it claims to be private but after all that Microsoft drama from some years ago I'm not sure I trust that claim, either way my own local hardening is already more than enough for me to feel okay with it collecting some stuff... I'm not that much of a privacy freak.
        </p>

    <span style="text-align: right;"><p>-R2leyser</p></span>
    <hr>
    <small>04/6/2023 </small>
    </article>

    <aside>
        <ul>
            <li><a href="#paid-search-engines">There are paid search engines?</a></li>
            <li><a href="#the-search-for-a-new-one">The search for a new search engine</a></li>
            <li><a href="#conclusion">Conclusion</a></li>
        </ul>
    </aside>
</div>


<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
