.waving-text {
    display: inline-block;
    overflow: hidden;
    transform: translateY(10px);
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary), var(--accent));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.waving-text span {
    display: inline-block;
    animation: waving 0.8s infinite;
}

@keyframes waving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.gradient-text::selection {
    /* background: var(--secondary); */
    color:var(--foreground)
}

.waving-text span::selection {
    /* background: var(--secondary); */
    color:var(--foreground)
}

