---
const message = "Happy pride month everyone!"
---

<div><p>{message}</p></div>

<style>
div {
    background: var(--accent);
    foreground: var(--background);
    text-align: center;
    margin-bottom: -2rem;
}
</style>
