---
import "../sakura-dark.css"
import "./projects.css"

import Banner from "../../components/banner.astro"
import Navbar from "../../components/navbar.astro"
---

<head>
    <title>Projects</title>
    <link rel="stylesheet" href="../sakura-dark.css" type="text/css">
    <link rel="stylesheet" href="./projects.css" media="all">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,700;1,500;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <Banner/>
    <Navbar selected="projects"/>
    <h1>Projects</h1>

    <hr>

    <div class="project">
        <img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_html_icon_130541.png" alt="">
        <h3><a href="https://github.com/R2leyser/the-blog">This website</a></h3>
        <p>
            This is just a fun project that started as me wanting to learn webdev and scaled into a full on blog, portfolio, linktree and fancy about me
        </p>
        
    </div>


    <div class="project">
        <img src="https://cdn.discordapp.com/attachments/853113144519688212/1232119517686272020/image.png?ex=66284c38&is=6626fab8&hm=54adf1a80ba827da5979a5b35f9532e44e23fe07f1f7e2e9b324f5eb7618dadd&" alt="">
        <h3><a href="https://github.com/R2leyser/GameOfLife">Conway's Game of Life </a></h3>
        <p>
            Simple implementation of Conway's game of life in C using Raylib.
        </p>
        
    </div>


    <div class="project">
        <img src="https://cdn.discordapp.com/attachments/853113144519688212/1232121581476515931/shuttle.png?ex=66284e24&is=6626fca4&hm=7afd5234b09cf8e9227d7833e1f227d74658ffacf5eedb5f7a33052b28247de5&" alt="">
        <h3><a href="https://github.com/R2leyser/start-page">My Browser's start page</a></h3>
        <p>
            A simple start page for my browser, with a search bar and some icons for my most visited websites.
        </p>
        
    </div>
</body>

