---
import "../sakura-dark.css"
import "./projects.css"

import Banner from "../../components/banner.astro"
import Navbar from "../../components/navbar.astro"
---

<head>
    <title>Projects</title>
    <link rel="stylesheet" href="../sakura-dark.css" type="text/css">
    <link rel="stylesheet" href="./projects.css" media="all">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,700;1,500;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <Banner/>
    <Navbar selected="projects"/>
    <h1>Projects</h1>

    <hr>

    <div class="project">
        <img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_html_icon_130541.png" alt="">
        <h3><a href="https://github.com/R2leyser/R2leyser.github.io/tree/main">This website</a></h3>
        <p>
            This is just a fun project that started as me wanting to learn webdev and scaled into a full on blog, portfolio, linktree and fancy about me
        </p>
        
    </div>
</body>

