---
import "../sakura-dark.css"
import "./projects.css"

import Banner from "../../components/banner.astro"
import Navbar from "../../components/navbar.astro"
---

<title>Projects</title>
<link rel="stylesheet" href="../sakura-dark.css" type="text/css">
<link rel="stylesheet" href="./projects.css" media="all">

<body>
    <Banner/>
    <Navbar selected="projects"/>
    <h1>Projects</h1>

    <hr>

    <div class="project">
        <img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_html_icon_130541.png" alt="">
        <h3><a href="https://github.com/R2leyser/R2leyser.github.io/tree/main">This website</a></h3>
        <p>
            This is just a fun project that started as me wanting to learn webdev and scaled into a full on blog, portfolio, linktree and fancy about me
        </p>
        
    </div>
</body>

