.project {
    display:grid;
    background: var(--secondary);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 2fr 2fr;
    column-gap: 3rem;
    margin-top: 2rem;
}

.project>img {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin: auto;
  width: 90%;
  height: auto;
}
