---
import "../sakura-dark.css"
import "./links.css"

import Banner from "../../components/banner.astro"
import Navbar from "../../components/navbar.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="R2's link tree">
    <meta property="og:description" content="Here is where you find all my socials and stuff I think">
    <meta name="theme-color" content="#8ccf7e">
    <meta charset="UTF-8">
    <title>links</title>
</head>

<body>
    <Banner/>
    <Navbar selected="links"/>
    <h1>Links</h1>
    <hr>
    <p><b> These are my personal links: </b></p>
    
    <ul class="links">
        <li><a href="https://github.com/R2leyser">Github</a></li>
        <li><a href="https://www.youtube.com/channel/UCOS-4U0qXDfUHRNj91Gti3g">Youtube</a></li>
        <li><a href="https://www.reddit.com/user/arthurleyser">Reddit</a></li>
        <li><a href="https://discord.gg/3ax76xfDZR">Discord</a></li>
    </ul>

</body>
</html>
